*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html ,body {
    background : #1d1d1d;
    color : #f8f8f8;
    font-family: Roboto, sans-serif;
}

ul , li {
    list-style : none;
}

nav {
    background: rgb(177, 14, 14);
    display: flex;
}