:root {
  --logo-red: #e22728;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #1d1d1d;
  color: #f8f8f8;
  font-family: Roboto, sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  color : #fff;
  text-decoration: none;
}

#header {
  background: transparent;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
}
#header.header-scrolled {
  background: rgb(255, 244, 244);
  height: 70px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
#header .logo {
  font-size: 60px;
  margin-top: 30px;
  padding: 0;
  font-weight: 900;  
  text-transform: uppercase;
  display : flex;
  line-height: 0.5;
  font-family: 'Fira Sans', sans-serif;
  pointer-events: none;
}
#header .logo a {
  background: var(--logo-red);
  padding:20px 20px;
}

#header .logo a span {
  background: var(--logo-red);
  font-size : 15px;
  font-weight: 500;
}
#header .logo img {
  max-height: 40px;
}
@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 24px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--logo-red);
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #4193ff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #4193ffb0;
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #663e3e;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #dc1b1b;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

#hero {
  background: url("../img/hero-bg.png")no-repeat center;
  background-size: cover;
}
.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

#hero h1 {
  font-size: 2rem;
  font-weight: 400;
}

#hero h1 span {
  color: var(--logo-red);
}

#hero a {
  color: var(--logo-red);
  background: transparent;
  padding: 8px 50px;
  border: 2px solid var(--logo-red);
  margin-left: 10px;
  transition: all 1s;
}

#hero a:hover {
  background: var(--logo-red);
  color: #fff;
  border: 2px solid var(--logo-red);
}
